#!/bin/bash

# gh - cd to user/repo in GOPATH or mkdir, clone and cd
gh() {
	if [[ $# -lt 1 ]]; then
		echo "USAGE: gh [user] [repo]"
		return
	fi

	GOPATH=${GOPATH:-$HOME/go}
	user_path=$GOPATH/src/github.com/$1

	if [[ $# -eq 1 ]]; then
		mkd $user_path
	fi

	local_path=$user_path/$2

	if [[ ! -d $local_path ]]; then
		git clone git@github.com:$1/$2.git $local_path
	fi

	if [[ -d $local_path ]]; then
		cd $local_path
	fi
}

# create a new directory and enter it
mkd() {
	mkdir -p "$@"
	cd "$@" || exit
}