#!/bin/bash

# gh - cd to user/repo in GOPATH or mkdir, clone and cd
gh() {
	if [[ $# -lt 1 ]]; then
		echo "USAGE: gh [user] [repo]"
		return
	fi

	GOPATH=${GOPATH:-$HOME/go}
	user_path=$GOPATH/src/github.com/$1

	if [[ $# -eq 1 ]]; then
		mkd $user_path
	fi

	local_path=$user_path/$2

	if [[ ! -d $local_path ]]; then
		git clone git@github.com:$1/$2.git $local_path
	fi

	if [[ -d $local_path ]]; then
		cd $local_path
	fi
}

# create a new directory and enter it
mkd() {
	mkdir -p "$@"
	cd "$@"
}

# clean docker shit
dclean() {
	docker rm -v $(docker ps -a -q -f status=exited) 2> /dev/null
	docker volume rm $(docker volume ls -qf dangling=true) 2> /dev/null
	docker rmi $(docker images -f "dangling=true" -q) 2> /dev/null
	docker volume rm $(docker volume ls -qf dangling=true) 2> /dev/null
}

# install k8s dashboard
k8sdash() {
	kubectl create -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml
	kubectl proxy > /dev/null &
}

# force delete k8s pod
k8sforcedel() {
	kubectl delete pod $@ --grace-period=0 --force
}

# git add git commit git push to current branch
push() {
	b=$(git branch | grep \* | cut -d ' ' -f2)
	git add --all
	git commit -m "$@"
	git push origin $b
}