#!/bin/bash

# create a new directory and enter it
mkd() {
	mkdir -p "$@"
	cd "$@"
}

# clean docker shit
dclean() {
	docker rm -v $(docker ps -a -q -f status=exited) 2> /dev/null
	docker volume rm $(docker volume ls -qf dangling=true) 2> /dev/null
	docker rmi $(docker images -f "dangling=true" -q) 2> /dev/null
	docker volume rm $(docker volume ls -qf dangling=true) 2> /dev/null
}

# install k8s dashboard
k8sdash() {
	kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v1.10.1/src/deploy/recommended/kubernetes-dashboard.yaml
	kubectl proxy > /dev/null &
	cat <<EOF | kubectl apply -f -
apiVersion: v1
kind: ServiceAccount
metadata:
  name: admin-user
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: admin-user
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: admin-user
  namespace: kube-system
EOF
}

# force delete k8s pod
k8sforcedel() {
	kubectl delete pod $@ --grace-period=0 --force
}

# git add git commit git push to current branch
push() {
	b=$(git branch | grep \* | cut -d ' ' -f2)
	git add --all
	git commit -m "$@"
	git push origin $b
}

gomod() {
	GO111MODULE=on go mod $@
}
