[user]
    name = Alex Pliutau
    email = a.pliutau@gmail.com
[github]
    user = plutov
[core]
    excludesfile = ~/.gitignore
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[url "git@github.com/"]
    insteadOf = gh:
[color]
    ui = auto
    interactive = auto
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[branch "master"]
    rebase = true
[branch]
    autosetuprebase = always
[alias]
    a = add --all
    b = branch
    cm = commit -m
    cma = commit --amend
    d = diff
    dc = diff --cached
    f = fetch
    fo = fetch origin
    m = merge
    co = checkout
    ps = push
    pso = push origin
    pl = pull
    plo = pull origin
    plom = pull origin master
    plrb = pull --rebase
    plrbo = pull --rebase origin
    rb = rebase
    re = reset
    reh = reset --hard
    reho = reset --hard remotes/origin/HEAD
    r = remote
    s = status
    sa = stash apply
    sl = stash list
    sp = stash pop
    ss = stash save

    l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    lc = log ORIG_HEAD.. --no-merges --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

    subup = submodule update --init
